.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-panels {
  padding: 20px
}

.App-filterbar-header {
  background-color: #999;
  color: #FFF;
  padding: 10px 0px; 
}

.App-filter-panels {
  background-color: #F9FAFA;
}
 
.App-filterbar-checkbox-panel {
	border-style: solid;
	border-width: 1px;
	padding: 5px 20px;
	margin: 8px;
}

.App-filterbar-hr {
	margin: 20px 0px;
}

.App-filterbar-button {
	width: 50%;
}

.App-filterbar-button-group {
	width: 80%;
	margin: 15px 0px;
}

.App-intro {
  font-size: large;
}

.App-filterbar-textInput {
	width: 100%;
}

.App-filterbar-collapses {
	width: 100%;
}

.App-filterbar-sector-button {
	width: 100%;
	margin: 5px 0px;
}

.App-filterbar-sector-checkbox-div {
	width: 100%;
	margin: 10px 0px;
	border-style: solid;
	border-width: 1px;
}

.App-filterbar-region-button {
	width: 100%;
	margin: 5px 0px;
}

.App-filterbar-recs-button {
	width: 100%;
	margin: 5px 0px;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
